# Ignores the following files when committing

### NODE ###

# Environmental variables
.env*

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

### MYSQL ###

# Test database schema
CovidTrace_test.sql