<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Health Official - COVIDTrace</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="../javascripts/hotspot.js" defer></script>
    </head>

    <body>

        <div id="page-container">

            <div id="content">

                <header class="header">
                    <a href="/"><b>COVIDTrace</b></a>
                    <a href="/hotspots">View Hotspots</a>
                    <% if (params.verified > 0) { %>
                        <a href="/logout" class="header-right">Logout</a>
                        <a href="/profile" class="header-right">Profile</a>
                    <% } else { %>
                        <a href="/register" class="header-right">Register</a>
                        <a href="/login" class="header-right">Login</a>
                    <% } %>
                    <% if (params.verified == 1) { %>
                        <a href="/dashboard/check-in">Check-in</a>
                        <a href="/dashboard/alerts">View Alerts</a>
                    <% } %>
                    <% if (params.verified == 2) { %>
                        <a href="/venue">Manage Venue</a>
                        <a href="/venue/qr-code">Get QR code</a>
                    <% } %>
                    <% if (params.verified == 3) { %>
                        <a href="/admin">Health Official Portal</a>
                        <a href="/admin/users">Manage Users</a>
                        <a href="/admin/venues">Manage Venues</a>
                        <a href="/admin/register">Register an official</a>
                    <% } %>
                </header>

                <div class="breadcrumb-div">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                            <span class="breadcrumb-divider">/</span>
                        </li>
                        <li>Health Official</li>
                    </ul>
                </div>

                <div class="title-div">
                    <h2>Health Official</h2>
                    <p>View and manage hotspots, users and venues</p>
                </div>

                <div class="info-div">
                    <p class="center">
                        <a class="admin-nav" href="/admin/users">
                            <button class="form-submit" id="health-official-button" type="submit">
                                Manage Users
                            </button>
                        </a>
                        <a class="admin-nav" href="/admin/venues">
                            <button class="form-submit" id="health-official-button" type="submit">
                                Manage Venues
                            </button>
                        </a>
                        <a class="admin-nav" href="/admin/register">
                            <button class="form-submit" id="health-official-button" type="submit">
                                Register a health official
                            </button>
                        </a>
                    </p>
                </div>

                <div class="title-div">
                    <h2>Add Hotspot</h2>
                    <p>Mark a venue as a hotspot by entering the associated venue code</p>
                </div>

                <div class="container-element">
                    <form class="login-form center" autocomplete="off" method="POST" action="/admin/hotspot/add">
                        <div>
                            <input class="form-input" id="venueid" name="venueid" type="text" maxlength="6">
                        </div>
                        <div>
                            <button class="form-submit" type="submit"><span>Mark as hotspot</span></button>
                        </div>
                    </form>
                </div>

                <div class="title-div">
                    <h2>Current Hotspots</h2>
                    <p>See and manage active hotspots</p>
                </div>

                <div class="venue-table-div" style="margin-bottom:50px;">
                    <table class="venue-table">
                        <tr>
                            <th>Hotspot ID</th>
                            <th>Timestamp</th>
                            <th>Venue Name</th>
                            <th colspan="2">Venue Address</th>
                        </tr>
                        <tr v-for="(entry,i) in hotspot" :key="i">
                            <td>{{ entry.HotspotID }}</td>
                            <td>{{ entry.Date }}</td>
                            <td>{{ entry.Name }}</td>
                            <td>{{ entry.Address }}</td>
                            <td><a v-bind:href="'/admin/hotspot/delete/'+entry.HotspotID" class="venue-button">Remove Hotspot</a></td>
                        </tr>
                    </table>
                </div>


                <footer class="footer">
                    <div class="footer-div">
                        <p class="footer-left"><b>COVIDTrace</b></p>
                        <p class="footer-left">If you need information about COVID-19 or COVID-19 vaccines, please call 1800
                            020 080.</p>
                        <p class="footer-left">
                            <a href="#">Privacy Policy</a> &bull;
                            <a href="#">Terms of Use</a> &bull;
                            <a href="#">Copyright Information</a>
                        </p>
                    </div>
                </footer>

            </div>

        </div>

    </body>

</html>