<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Check-in - COVIDTrace</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

    </head>

    <body>


        <div id="page-container">

            <div id="content">

                <header class="header">
                    <a href="/"><b>COVIDTrace</b></a>
                    <a href="/register" class="header-right">Register</a>
                    <a href="/login" class="header-right">Login</a>
                    <a href="/dashboard/profile" class="header-right">Profile</a>
                    <a href="/dashboard/check-in">Check-in</a>
                    <a href="/dashboard/alerts">View Alerts</a>
                    <a href="/hotspots">View Hotspots</a>
                    <a href="/venue">Manage Venue</a>
                    <a href="/admin" class="header-right-hidden">Health Official Portal</a>
                </header>

                <div class="breadcrumb-div">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                            <span class="breadcrumb-divider">/</span>
                        </li>
                        <li>
                            <a href="/dashboard">Dashboard</a>
                            <span class="breadcrumb-divider">/</span>
                        </li>
                        <li>Check-in</li>
                    </ul>
                </div>

                <div class="title-div">
                    <h2>Check-in</h2>
                    <p>Enter the unique COVIDTrace code present at the venue below to check-in</p>
                </div>

                <div class="container-element">
                    <form class="login-form center" autocomplete="off" method="POST">
                        <div>
                            <input class="form-input" id="check-in-code" name="checkincode" type="text" maxlength="6">
                        </div>
                        <div>
                            <button class="form-submit" type="submit" value="login"><span>Check-in</span></button>
                        </div>
                    </form>
                </div>

            </div>

            <footer class="footer">
                <div class="footer-div">
                    <p class="footer-left"><b>COVIDTrace</b></p>
                    <p class="footer-left">If you need information about COVID-19 or COVID-19 vaccines, please call 1800 020 080.</p>
                    <p class="footer-left">
                        <a href="#">Privacy Policy</a> &bull;
                        <a href="#">Terms of Use</a> &bull;
                        <a href="#">Copyright Information</a>
                    </p>
                </div>
            </footer>

        </div>


    </body>


</html>