<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Current Hotspots - COVIDTrace</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>

    <body>

        <div id="page-container">

            <div id="content">

                <header class="header">
                    <a href="/"><b>COVIDTrace</b></a>
                    <a href="/register" class="header-right">Register</a>
                    <a href="/login" class="header-right">Login</a>
                    <a href="/dashboard/check-in">Check-in</a>
                    <a href="/hotspots">View Hotspots</a>
                    <a href="/venue">Manage Venue</a>
                    <a href="/doh-dashboard" class="header-right-hidden">Health Official Portal</a>
                </header>

                <div class="breadcrumb-div">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                            <span class="breadcrumb-divider">/</span>
                        </li>
                        <li>Current Hotspots</li>
                    </ul>
                </div>

                <div class="title-div">
                    <h2>Current Hotspots</h2>
                    <p>View current coronavirus hotspots on a map</p>
                </div>

                <iframe width="1280" height="450" class="container-element"
                style="border:0" loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=API_KEY&q=Adelaide+SA">
                </iframe>

            </div>

            <footer class="footer">
                <div class="footer-div">
                    <p class="footer-left"><b>COVIDTrace</b></p>
                    <p class="footer-left">If you need information about COVID-19 or COVID-19 vaccines, please call 1800 020 080.</p>
                    <p class="footer-left">
                        <a href="#">Privacy Policy</a> &bull;
                        <a href="#">Terms of Use</a> &bull;
                        <a href="#">Copyright Information</a>
                    </p>
                </div>
            </footer>

        </div>

    </body>


</html>