<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Current Hotspots - COVIDTrace</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>

    <body>

        <div id="page-container">

            <div id="content">

                <header class="header">
                    <a href="/"><b>COVIDTrace</b></a>
                    <a href="/register" class="header-right">Register</a>
                    <a href="/login" class="header-right">Login</a>
                    <a href="/dashboard/profile" class="header-right">Profile</a>
                    <a href="/dashboard/check-in">Check-in</a>
                    <a href="/dashboard/alerts">View Alerts</a>
                    <a href="/hotspots">View Hotspots</a>
                    <a href="/venue">Manage Venue</a>
                    <a href="/admin" class="header-right-hidden">Health Official Portal</a>
                </header>

                <div class="breadcrumb-div">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                            <span class="breadcrumb-divider">/</span>
                        </li>
                        <li>View Hotspots</li>
                    </ul>
                </div>

                <div class="title-div">
                    <h2>View Hotspots</h2>
                    <p>See current coronavirus hotspots on a map</p>
                </div>

                <iframe width="1280" height="540" class="container-element"
                style="border:0" loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.055234868246!2d138.53396061523705!3d-34.879959280388825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0c66da825e38b%3A0x99098c49f3d37456!2sWoodville%20Pizza%20Bar!5e0!3m2!1sen!2sau!4v1620894395499!5m2!1sen!2sau">
                </iframe>

            </div>

            <footer class="footer">
                <div class="footer-div">
                    <p class="footer-left"><b>COVIDTrace</b></p>
                    <p class="footer-left">If you need information about COVID-19 or COVID-19 vaccines, please call 1800 020 080.</p>
                    <p class="footer-left">
                        <a href="#">Privacy Policy</a> &bull;
                        <a href="#">Terms of Use</a> &bull;
                        <a href="#">Copyright Information</a>
                    </p>
                </div>
            </footer>

        </div>

    </body>


</html>