<!DOCTYPE html>
<html lang="en">

    <head>
        <title>major project landing page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif">
    </head>

    <body>

        <header>
            <a href="/">Home</a>

            <a class="header-right">Register</a>
            <a href="/login" class="header-right">Login</a>
            <a class="header-right">Check-in</a>
            <a class="header-right">View Hotspots</a>
            <a href="/venue" class="header-right">Manage Venue</a>
            <a class="header-right-hidden">Health Official things</a>


        </header>

        <div class="title-logo-div">
            <div class="logo-holder"><p>LOGO</p></div>
            <h1 class="title">Title</h1>
        </div>

        <div class="link-tree">
            <a>>Home</a>
            <a>>Article 1</a>
        </div>



        <article>
            <p>The main article would go here :) (indented a bit probably)</p>


        </article>

    </body>


</html>