<!DOCTYPE html>
<html lang="en">

    <head>
        <title>COVIDTrace - The contact tracing standard</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>

    <body>

        <video autoplay muted loop class="background-video-index">
            <source src="media/background.mp4" type="video/mp4">
        </video>

        <div class="content">
            <header class="header-index">
                <a href="/"><b>COVIDTrace</b></a>
                <a href="/register" class="header-right">Register</a>
                <a href="/login" class="header-right">Login</a>
                <a href="/dashboard/check-in">Check-in</a>
                <a href="/hotspots">View Hotspots</a>
                <a href="/venue">Manage Venue</a>
                <a href="/doh-dashboard" class="header-right-hidden">Health Official Portal</a>
            </header>

            <div class="title-index-div">
                <h1 class="title-index">
                    Welcome to COVIDTrace,<br />
                    the leading contact tracing system.
                </h1>
                <p class="subtitle-index">
                    Keep you and those around you safe,<br />
                    with instant alert features.
                </p>
            </div>

        </div>

    </body>


</html>