<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sign in - COVIDTrace</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="fontawesome/css/all.css">
    </head>

    <body id="login-body">

        <div class="login-page">
            <div class="login-block">

                <div class="login-header">
                    <h3>Sign in</h3>
                    <p>Continue to your COVIDTrace dashboard</p>
                </div>

                <div class="login-input">
                    <form class="login-form" method="POST">
                        <div>
                            <input class="form-input" type="text" id="username" name="username" placeholder="Enter username" />
                        </div>
                        <div>
                            <input class="form-input" type="password" id="password" name="password" placeholder="Enter password" />
                        </div>
                        <div>
                            <button class="form-submit" type="submit" value="login"><span>Sign in</span></button>
                        </div>
                    </form>
                </div>
                <p class="or">OR</p>
                <div class="login-social">
                    <div>
                        <button class="oauth-submit" type="button"><span><i class="fab fa-google"></i><b>Continue with Google</b></span></button>
                    </div>
                    <div>
                        <button class="oauth-submit" type="button"><span><i class="fab fa-facebook-f"></i><b>Continue with Facebook</b></span></button>
                    </div>
                </div>

                <div class="login-input">
                    <hr />
                    <ul>
                        <li>
                            <a href="/"><span>Back to home</span></a>
                        </li>
                        <li>&bull;</li>
                        <li>
                            <a href="/register"><span>Don't have an account?</span></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>

        <script> </script>

    </body>

</html>