<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Profile - COVIDTrace</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="../javascripts/profile.js" defer></script>
    </head>

    <body>

        <div id="page-container">

            <div id="content">

                <header class="header">
                    <a href="/"><b>COVIDTrace</b></a>
                    <a href="/hotspots">View Hotspots</a>
                    <% if (params.verified > 0) { %>
                        <a href="/logout" class="header-right">Logout</a>
                        <a href="/profile" class="header-right">Profile</a>
                    <% } else { %>
                        <a href="/register" class="header-right">Register</a>
                        <a href="/login" class="header-right">Login</a>
                    <% } %>
                    <% if (params.verified == 1) { %>
                        <a href="/dashboard/check-in">Check-in</a>
                        <a href="/dashboard/alerts">View Alerts</a>
                        <a href="/dashboard/check-in-history">View Check-in History</a>
                    <% } %>
                    <% if (params.verified == 2) { %>
                        <a href="/venue">Manage Venue</a>
                        <a href="/venue/qr-code">Get QR code</a>
                    <% } %>
                    <% if (params.verified == 3) { %>
                        <a href="/admin">Health Official Portal</a>
                        <a href="/admin/users">Manage Users</a>
                        <a href="/admin/venues">Manage Venues</a>
                        <a href="/admin/register">Register an official</a>
                    <% } %>
                </header>

                <div class="breadcrumb-div">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                            <span class="breadcrumb-divider">/</span>
                        </li>
                        <li>Profile</li>
                    </ul>
                </div>

                <div class="title-div">
                    <h2>Profile</h2>
                    <button class="edit-button" type="button" onclick="edit()">
                        <i class="fas fa-edit"> Edit</i>
                    </button>
                    <% if (params.verified == 1) { %>
                        <button onclick="location.href='/dashboard/check-in-history';" class="qr-button" type="button">
                            <i class="fas fa-history"> Check-in History</i>
                        </button>
                    <% } %>
                    <p>
                        View and edit information about your COVIDTrace account
                    </p>
                </div>

                <div class="info-div">
                    <form class="login-form" method="POST" action='/profile/edit'>
                        <p>
                            <b>Name: </b><span v-bind:class="{ 'edit' : !editON }">{{ user.FirstName }} {{ user.LastName }}</span>
                            <input v-bind:class="{ 'edit' : editON }" type="text" id="fname" name="fname" :value="user.FirstName" />
                            <input v-bind:class="{ 'edit' : editON }" type="text" id="lname" name="lname" :value="user.LastName" />
                        </p>
                        <p>
                            <b>Email: </b><span v-bind:class="{ 'edit' : !editON }">{{ user.Email }}</span>
                            <input v-bind:class="{ 'edit' : editON }" type="email" id="email" name="email" :value="user.Email"/>
                        </p>
                        <p>
                            <b>Address: </b><span v-bind:class="{ 'edit' : !editON }">{{ user.Address }}</span>
                            <input v-bind:class="{ 'edit' : editON }" type="text" id="address" name="address" :value="user.Address"/>
                        </p>
                        <p>
                            <b>Contact number: </b><span v-bind:class="{ 'edit' : !editON }">{{ user.ContactNumber }}</span>
                            <input v-bind:class="{ 'edit' : editON }" type="text" id="contact" name="contact" :value="user.ContactNumber"/>
                        </p>

                        <button class="confirm-button" v-bind:class="{ 'edit' : editON }" type="submit">
                            <i class="fas fa-check"> Confirm</i>
                        </button>
                        <button class="confirm-button" v-bind:class="{ 'edit' : editON }" type="button" onclick="edit()">
                            <i class="fas fa-times"> Cancel</i>
                        </button>
                    </form>
                </div>

                <% if (params.verified == 1) { %>
                    <div class="venue-table-div">
                        <table class="venue-table">
                            <tr>
                                <th>Check-in ID</th>
                                <th>Timestamp</th>
                                <th>Venue Name</th>
                                <th>Venue Address</th>
                            </tr>
                            <tr v-for="(entry,i) in checkIn" :key="i">
                                <td>{{ entry.CheckInID }}</td>
                                <td>{{ entry.Date }}</td>
                                <td>{{ entry.Name }}</td>
                                <td>{{ entry.Address }}</td>
                            </tr>
                        </table>
                    </div>
                <% } %>

            </div>

            <footer class="footer">
                <div class="footer-div">
                    <p class="footer-left"><b>COVIDTrace</b></p>
                    <p class="footer-left">If you need information about COVID-19 or COVID-19 vaccines, please call 1800 020 080.</p>
                    <p class="footer-left">
                        <a href="#">Privacy Policy</a> &bull;
                        <a href="#">Terms of Use</a> &bull;
                        <a href="#">Copyright Information</a>
                    </p>
                </div>
            </footer>

        </div>

    </body>


</html>