<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Profile - COVIDTrace</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
    </head>

    <body>

        <div id="page-container">

            <div id="content">

                <header class="header">
                    <a href="/"><b>COVIDTrace</b></a>
                    <a href="/register" class="header-right">Register</a>
                    <a href="/login" class="header-right">Login</a>
                    <a href="/dashboard/profile" class="header-right">Profile</a>
                    <a href="/dashboard/check-in">Check-in</a>
                    <a href="/dashboard/alerts">View Alerts</a>
                    <a href="/hotspots">View Hotspots</a>
                    <a href="/venue">Manage Venue</a>
                    <a href="/admin" class="header-right-hidden">Health Official Portal</a>
                </header>

                <div class="breadcrumb-div">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                            <span class="breadcrumb-divider">/</span>
                        </li>
                        <li>
                            <a href="/dashboard">Dashboard</a>
                            <span class="breadcrumb-divider">/</span>
                        </li>
                        <li>Profile</li>
                    </ul>
                </div>

                <div class="title-div">
                    <h2>Profile</h2>
                    <p>View and edit information about your COVIDTrace account</p>
                </div>

                <div class="info-div">
                    <p>
                        <b>Username: </b>hwatsford97
                        <button class="edit-button" type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                    </p>
                    <p>
                        <b>Name: </b>Hamish Watsford
                        <button class="edit-button" type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                    </p>
                    <p>
                        <b>Address: </b>92 Marloo Street, HECTORVILLE SA 5073
                        <button class="edit-button" type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                    </p>
                    <p>
                        <b>Contact number: </b>(08) 8345 5025
                        <button class="edit-button" type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                    </p>
                </div>

                <div class="venue-table-div">
                    <table class="venue-table">
                        <tr>
                            <th>Check-in ID</th>
                            <th>Timestamp</th>
                            <th>Venue Name</th>
                            <th>Venue Address</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>12 May 2021 17:04:04 GMT+09:30</td>
                            <td>Woodville Pizza Bar</td>
                            <td>1/58 Woodville Rd, WOODVILLE SOUTH SA 5011</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>13 May 2021 22:13:42 GMT+09:30</td>
                            <td>Snap Fitness Woodville 24/7</td>
                            <td>57 Woodville Rd, WOODVILLE SOUTH SA 5011</td>
                        </tr>
                    </table>
                </div>

            </div>

            <footer class="footer">
                <div class="footer-div">
                    <p class="footer-left"><b>COVIDTrace</b></p>
                    <p class="footer-left">If you need information about COVID-19 or COVID-19 vaccines, please call 1800 020 080.</p>
                    <p class="footer-left">
                        <a href="#">Privacy Policy</a> &bull;
                        <a href="#">Terms of Use</a> &bull;
                        <a href="#">Copyright Information</a>
                    </p>
                </div>
            </footer>

        </div>

    </body>


</html>